.containerForm {
  display: flex;
  align-items: center;
  height: 60vh;
}

@media screen and (max-width: 90rem) {
  .containerForm {
    display: grid;
    grid-template-columns: 1fr;
    width: 90vw;
  }
}
